
<%# <section>
<h1>HELLO</h1>
author_id<input class="basicInfos" name="author" id="author_id"  type="text" >
customer_id<input class="basicInfos" name="customerID" id="customer_id"  type="text" >
building_id<input class="basicInfos" name="buildingID" id="building_id"  type="text" >
battery_id<input class="basicInfos" name="batteryID" id="battery_id"  type="text" >
column_id<input class="basicInfos" name="columnID" id="column_id"  type="text" >
elevator_id<input class="basicInfos" name="elevatorID" id="elevator_id"  type="text" >
employee_id<input class="basicInfos" name="employeeID" id="employee_id"  type="text" >
<br>intervention_start_time<input class="basicInfos" name="start_of_intervention" id="intervention_start_time"  type="text" >
intervention_end_time<input class="basicInfos" name="end_of_intervention" id="intervention_end_time"  type="text" >
result<input class="basicInfos" name="result_intervention" id="result"  type="text" >
<br>report<input class="basicInfos" name="report_intervention" id="report"  type="text" >
<br>status<input class="basicInfos" name="status_intervention" id="status"  type="text" >

<br>customer<br>
building<br>
battery<br>
column<br>
employee<br>
button submit<br>
</section> %>
<section></section>


<section>
<div class="col-md-12 mx-auto text-center text-blue offset-md-3">
            <%= form_with(url: "/intervention", method: "post") do |form| %>
            

                <label class="col-md-12 mx-auto text-center text-red offset-md-3 h4" name="interventions[customerID]">Customer </label><br>
                <select id="customers" name="customerID">
					<option value="0">--SELECT--</option>
                        <% @customers.each do |customer| %>
                            <option value="<%= customer.id %>"><%= customer.contact_full_name %></option>
                        <%end%>
				</select>

                <label class="col-md-12 mx-auto text-center text-red offset-md-3 h4" name="interventions[buildingID]" id="building">Building </label><br>
                <select id="buildings" name="buildingID">
					<option value="0">--SELECT--</option>
				</select>

                <label class="col-md-12 mx-auto text-center text-red offset-md-3 h4" name="interventions[batteryID]" id="battery">Battery </label><br>
                <select id="batteries" name="batteryID">
					<option value="0">--SELECT--</option>
				</select>
                
                <label class="col-md-12 mx-auto text-center text-red offset-md-3 h4" name="interventions[columnID]" id="column">Column </label><br>
                <select id="columns" name="columnID">
					<option value="0">--SELECT--</option>
				</select>

                <label class="col-md-12 mx-auto text-center text-red offset-md-3 h4" name="interventions[elevatorID]" id="elevator">Elevator </label><br>
                <select id="elevators" name="elevatorID">
					<option value="0">--SELECT--</option>
				</select>

                <label class="col-md-12 mx-auto text-center text-red offset-md-3 h4" name="interventions[employeeID]">Employee </label><br>
                <select id="employees" name="employeeID">
					<option value="0">--SELECT--</option>
                        <% @employees.each do |employee| %>
                            <option value="<%= employee.id %>"><%= employee.firstName %><%= employee.lastName %></option>
                        <%end%>
				</select>


                <%# <label class="col-md-12 mx-auto text-center text-red offset-md-3 h4" name="employeeID">Employee </label><br>
                <%= form.select(:employee, Employee.all.collect {|e| [e.firstName, e.id]},  {prompt: "Select Employee"}, {class: 'basicInfos'}) %>

                <br><br><br><input class="btn btn-danger btn-lg submitBtn intervention_form" type="submit" value="Add intervention" />
            <%end%>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<Script>
$("#building, #buildings").hide()
$("#battery, #batteries").hide()
$("#column, #columns").hide()
$("#elevator, #elevators").hide()

///////////////////////////////////////////////////////////////
// BUILDING
$("#building").prop("disabled", true); 
    $("#customers").change(function(){
        var customer = $(this).val();
        if(customer == ''){
            $("#building").prop("disabled", true);
        }else{
            $("#building").show()
            $("#buildings").show()
            $("#building").prop("disabled", false);
        }
        $.ajax({
            url: "/intervention/building",
            method: "GET",  
            dataType: "json",
            data: {customer: customer},
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (buildings) {
                console.log(buildings);
                $("#buildings").empty();
                $("#batteries").empty();
                $("#columns").empty();
                $("#elevators").empty();

                $("#battery, #batteries").hide();
                $("#column, #columns").hide()
                $("#elevator, #elevators").hide()

                $("#buildings").append('<option value="0">--SELECT--</option>');
                buildings.forEach(building => {
                    $("#buildings").append('<option value="' + building.id + '">' + building.id + ". " + building.building_administrator_full_name + '</option>');
                })
            }
        });
    });

///////////////////////////////////////////////////////////////
// BATTERY
$("#battery").prop("disabled", true); 
    $("#buildings").change(function(){
        var building = $(this).val();
        if(building == ''){
            $("#battery").prop("disabled", true);
        }else{
            $("#battery").show()
            $("#batteries").show()
            $("#battery").prop("disabled", false);
        }
        $.ajax({
            url: "/intervention/battery",
            method: "GET",  
            dataType: "json",
            data: {building: building},
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (batteries) {
                console.log(batteries);
                $("#batteries").empty();
                $("#columns").empty();

                $("#column, #columns").hide()
                $("#elevator, #elevators").hide()

                $("#batteries").append('<option value="0">--SELECT--</option>');
                batteries.forEach(battery => {
                    $("#batteries").append('<option value="' + battery.id + '">' + battery.id + ". " + battery.operations_certificate + '</option>');
                })
            }
        });
    });
///////////////////////////////////////////////////////////////
// COLUMN
$("#column").prop("disabled", true); 
    $("#batteries").change(function(){
        var battery = $(this).val();
        if(battery == ''){
            $("#column").prop("disabled", true);
        }else{
            $("#column").show()
            $("#columns").show()
            $("#column").prop("disabled", false);
        }
        $.ajax({
            url: "/intervention/column",
            method: "GET",  
            dataType: "json",
            data: {battery: battery},
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (columns) {
                console.log(columns);
                $("#columns").empty();
                $("#elevators").empty();

                $("#elevator, #elevators").hide()
                
                $("#columns").append('<option value="0">--SELECT--</option>');
                columns.forEach(column => {
                    $("#columns").append('<option value="' + column.id + '">' + column.id + ". " + column.information + '</option>');
                })
            }
        });
    });
///////////////////////////////////////////////////////////////
// ELEVATOR
$("#elevator").prop("disabled", true); 
    $("#columns").change(function(){
        var column = $(this).val();
        if(column == ''){
            $("#elevator").prop("disabled", true);
        }else{
            $("#elevator").show()
            $("#elevators").show()
            $("#elevator").prop("disabled", false);
        }
        $.ajax({
            url: "/intervention/elevator",
            method: "GET",  
            dataType: "json",
            data: {column: column},
            error: function (xhr, status, error) {
                console.error('AJAX Error: ' + status + error);
            },
            success: function (elevators) {
                console.log(elevators);
                $("#elevators").empty();
                $("#elevators").append('<option value="0">--SELECT--</option>');
                elevators.forEach(elevator => {
                    $("#elevators").append('<option value="' + elevator.id + '">' + elevator.id + ". " + elevator.information + '</option>');
                })
            }
        });
    });

</script>









